{{template "base" .}}

{{define "title"}}Homepage | Groupie Tracker{{end}}

{{define "main"}}
<div class="form">
  <form action="/search" method="GET">
    <div class="firstalbum">
      <p>Enter the first album date:</p>
      <label for="firstAlbumMin">from:</label>
      <input type="range" id="firstAlbumMin" name="firstAlbumMin" min="1963" max="2020" step="1" value="1963"
        oninput="this.nextElementSibling.value = this.value" id="lower">
      <output class="year">1963</output>
      <label for="firstAlbumMax">to:</label>
      <input type="range" id="firstAlbumMax" name="firstAlbumMax" min="1963" max="2020" step="1" value="2020"
        oninput="this.nextElementSibling.value = this.value" id="upper">
      <output class="year">2020</output>
    </div>
    <div class="creationdate">
      <p>Enter the creation date:</p>
      <label for="creationdate">from:</label>
      <input type="range" id="creationDateMin" name="creationDateMin" min="1958" max="2020" step="1" value="1958"
        oninput="this.nextElementSibling.value = this.value">
      <output class="year">1958</output>
      <label for="creationdate">to:</label>
      <input type="range" id="creationDateMax" name="creationDateMax" min="1958" max="2020" step="1" value="2020"
        oninput="this.nextElementSibling.value = this.value">
      <output class="year">2020</output>
    </div>
    <div class="members">
      <label>Select a number of members:</label>
      <input type="checkbox" name="member" value="1"><label>1</label>
      <input type="checkbox" name="member" value="2"><label>2</label>
      <input type="checkbox" name="member" value="3"><label>3</label>
      <input type="checkbox" name="member" value="4"><label>4</label>
      <input type="checkbox" name="member" value="5"><label>5</label>
      <input type="checkbox" name="member" value="6"><label>6</label>
      <input type="checkbox" name="member" value="7"><label>7</label>
      <input type="checkbox" name="member" value="8"><label>8</label>
    </div>
    <div class="select">
      <label for="location">Select a location:</label>
      <select id="location" name="location">
        <option value="" disabled selected>Select a location</option>
        {{range $j, $k := .Artists}}
        {{range $t, $y := $k.Rel}}
        <option value="{{$t}}">{{$t}} - Location</option>
        {{end}}
        {{end}}
      </select>
    </div>
    
    <button type="submit" class="findButton">Search</button>
    <input type="reset" class="findButton">
    <script src="/website/static/js/searchbar.js" type="text/javascript"> </script>
  </form>
</div>
<div class="gallery">
  {{range $i, $v := .Artists}}
  <div class="element">
    <a href="/group?id={{$v.ID}}" class="label" name="dir" id="dir" action="click">
      <img src="{{$v.Image}}"> <br>
      <h3>{{$v.Name}}</h3>
    </a><br></option>
  </div>
  {{end}}
</div>
{{end}}