<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>groupie-tracker</title>
    <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/44205180?v=4">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <link rel="stylesheet" href="style/home.css">
    <!--  map script  -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCTAVP5kfJGMAH2KoX8qo-n7r90Iosbjg"></script>
	<script src="style/script.js"></script>
</head>

<body onload="initMap()">
    <h1>Groupie Tracker</h1>
    
    <!-- addind div for search bar -->

    <!-- adding div for filter bar -->

    <div class="containt">
        {{range .}}
            <div class="artist-card">
                <div class="basicinfo" id="basicinfo-{{.Id}}">
                    <img src="{{.Image}}" alt="{{.Name}}">
                    <h2>{{.Name}}</h2>
                    <p>{{.Id}}</p>
                    <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
                    <p><strong>Creation Year:</strong> {{.CreationDate}}</p>
                    <center><button type="button" onclick="toggleInfo('{{.Id}}')">show info</button></center>
                </div>
                <div class="moreinfo" id="moreinfo-{{.Id}}">
                    <p><strong>Members:</strong> {{range .Members}}{{.}}, {{end}}</p>
                    
                    <!-- integrat the google map to view the localisation -->
                    <p><strong>Location:</strong>{{range .LocationST.Locations}} {{.}},{{end}}</p>
                    
                    <p><strong>Date:</strong>{{range .DateST.Dates}} {{.}},{{end}}</p>
                    
                    <p><strong>Relation: {</strong>{{range $key, $value := .RelationST.DatesLocation}}<strong>{{ $key }}:</strong>{{range $value}} {{.}},{{end}}{{end}}}</p>

                    <center><button type="button" onclick="toggleInfo('{{.Id}}')">hide info</button></center>
                </div>
            </div>
        {{end}}
    </div>

    <script>
        function toggleInfo(id) {
            var basicInfoDiv = document.getElementById('basicinfo-' + id);
            var moreInfoDiv = document.getElementById('moreinfo-' + id);

            if (basicInfoDiv.style.display === 'none') {
                basicInfoDiv.style.display = 'block';
                moreInfoDiv.style.display = 'none';
            } else {
                basicInfoDiv.style.display = 'none';
                moreInfoDiv.style.display = 'block';
            }
        }
    </script>
</body>


</html>