<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{.Artist.Image}}">
	<title>{{.Artist.Name}}</title>
</head>
<style>
	body,
	h1,
	form {
		margin: 0;
		padding: 0;
	}

	body {
		font-family: Arial, sans-serif;
		background: rgb(52, 53, 52);
		color: white;
		justify-content: center;
		display: flex;
	}
</style>

<body>
	<div>
		<center><img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" /></center>
		<h1>Artist</h1>
		<p><strong>Name:</strong> {{.Artist.Name}}</p>
		<p><strong>ID:</strong> {{.Artist.Id}}</p>
		<p><strong>Members:</strong> {{range .Artist.Members}}{{.}}, {{end}}</p>
		<p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
		<p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>

		<h1>Location</h1>
		<ul>
			{{range .LocationST.Locations}}
			<li>{{.}}</li>
			{{end}}
		</ul>
		<h1>Date</h1>
		<ul>
			{{range .DateST.Dates}}
			<li>{{.}}</li>
			{{end}}
		</ul>

		<h1>Relation</h1>
		<p><strong>Dates Locations:</strong></p>
		<ul>
			{{range $key, $value := .RelationST.DatesLocation}}
			<li><strong>{{ $key }}:</strong>
				<ul>
					{{range $value}}
					<li>{{.}}</li>
					{{end}}
				</ul>
			</li>
			<br>
			{{end}}
		</ul>
	</div>
</body>

</html>