<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{.Artist.Image}}">
	<link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
	<link rel="stylesheet" href="style/moreinfo.css">
	<title>{{.Artist.Name}}</title>
</head>

<body>
	<div>
		<div class="button-container">
			<a href="/">Back to Home</a>
		</div>
		<center>
			<img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" />
		</center>
		<h1>Artist</h1>
		<p><strong>Name:</strong> {{.Artist.Name}}</p>
		<p><strong>ID:</strong> {{.Artist.Id}}</p>
		<p><strong>Members:</strong> {{range .Artist.Members}}{{.}}, {{end}}</p>
		<p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
		<p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>

		<strong><h1>Location</h1></strong>
		<ul>
			{{range .LocationST.Locations}}
			<li>{{.}}</li>
			{{end}}
		</ul>
		<strong><h1>Date</h1></strong>
		<ul>
			{{range .DateST.Dates}}
			<li>{{.}}</li>
			{{end}}
		</ul>

		<strong><h1>Relation</h1></strong>
		<ul>
			{{range $key, $value := .RelationST.DatesLocation}}
			<li><strong>{{ $key }}:</strong>
				<ul>
					{{range $value}}
					<li>{{.}}</li>
					{{end}}
				</ul>
			</li>
			<br>
			{{end}}
		</ul>
	</div>
</body>

</html>